@import 'common/*'

body
    background-color #EBEBEB
    font-family: 'Roboto', sans-serif;
    margin 0

*
    outline 0

a
    transition color ease-in-out .15s, box-shadow ease-in-out .15s, border-color ease-in-out .15s