@import 'common/*'

html
    min-height 100%
    position relative

body
    background-color #EBEBEB
    font-family: 'Roboto', sans-serif;
    margin 0
    margin-bottom 283px

*
    margin 0
    outline 0 !important

*:focus
    outline 0 !important

a
    transition color ease-in-out .15s, box-shadow ease-in-out .15s, border-color ease-in-out .15s