/**
 * Colors used throughout the website. 
 */ 

/** Common Colors **/
$WHITE = #FFFFFF
$BLACK = #000000

 /** Brand Colors **/
$BRAND_YELLOW           = #FFC95C
$BRAND_BLUE             = #1A1A23
$BRAND_LIGHT_BLUE       = #191A21
$BRAND_LIGHTER_BLUE     = #26272E
$BRAND_GRAY             = #B2B4BE
$BRAND_GREEN            = #56C73A