/**
 * Fonts used throughout the website. 
 */ 

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500,700');

@font-face
    font-family "Helvetica Neue"
    src url('../assets/fonts/Helvetica_Neue.ttf')

@font-face
    font-family "Helvetica Neue"
    src url('../assets/fonts/Helvetica_Neue_Bold.ttf')
    font-weight bold