/**
 * Tweaks used throughout the website. 
 */ 

.--brand-yellow
    color $BRAND_YELLOW !important

.--brand-gray
    color $BRAND_GRAY !important

.--font-weight-light
    font-weight 300 !important